TMDB_API_KEY=
REVALIDATION_SECRET=kaskdfjasdkfjsakfd



NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_AUTH_DOMAIN=beatwig-dev.firebaseapp.com
NEXT_PUBLIC_PROJECT_ID=beatwig-dev
NEXT_PUBLIC_STORAGE_BUCKET=beatwig-dev.appspot.com
NEXT_PUBLIC_MESSAGING_SENDER_ID=
NEXT_PUBLIC_APP_ID=
NEXT_PUBLIC_MEASUREMENT_ID=none

